
//@theme "/home/kamisaki/.local/share/rofi/themes/launchpad.rasi"

//@theme "/home/kamisaki/.local/share/rofi/themes/launchpad.rasi"

@theme "/home/kamisaki/.local/share/rofi/themes/catppuccin-mocha.rasi"
