alias cls='clear && echo && fastfetch'
alias s='sudo'
alias wbar='nohup waybar &'
alias mk='mkdir'
alias ls='lsd -a'
alias lsa='lsd -al'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias !!='!!'
alias docs='cd ~/Documents'
alias dl='cd ~/Downloads'
alias dt='cd ~/Desktop'
alias rm='rm -i'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias myip='curl ifconfig.me'
alias pinggoogle='ping -c 4 google.com'
alias mypublicip='curl -s ifconfig.me'
alias du='du -h'
alias df='df -h'
alias top='htop'
alias less='less -R'
alias untar='tar -xvf'
alias g='git'
alias gs='git status'
alias gd='git diff'
alias gl='git log'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gco='git checkout'
alias venv='python3 -m venv'
alias workon='source venv/bin/activate'
alias diff='diff --color=auto'
alias cp='cpg -g'
alias mv='mvg -g'
alias c='clear && pokemon-colorscripts -r --no-title'
alias sysinfo='uname -a'
alias meminfo='free -h'
alias diskinfo='df -h'
alias dfspace='df -h'
alias duinfo='du -sh *'

alias nvim='bash ~/.config/nvim/kitty.sh'
alias neovim='bash ~/.config/nvim/kitty.sh'
alias edit='bash ~/.config/nvim/kitty.sh'

alias vim='bash ~/.config/vim/kitty.sh'
alias tmux='bash ~/.config/tmux/kitty.sh'
