@import "../includes/global.css";

#waybar {
    background: @main-bg;
    border-radius: 5px;
}

window#waybar.top #leaf,
window#waybar.top #leaf button,
window#waybar.top #leaf menu,
window#waybar.top #leaf menuitem,
window#waybar.top #leaf tooltip,
window#waybar.bottom #leaf,
window#waybar.bottom #leaf button,
window#waybar.bottom #leaf menu,
window#waybar.bottom #leaf menuitem,
window#waybar.bottom #leaf tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #leaf,
window#waybar.left #leaf button,
window#waybar.left #leaf menu,
window#waybar.left #leaf menuitem,
window#waybar.left #leaf tooltip,
window#waybar.right #leaf,
window#waybar.right #leaf button,
window#waybar.right #leaf menu,
window#waybar.right #leaf menuitem,
window#waybar.right #leaf tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

/* ? Inverse Leaf shape */

window#waybar.top #leaf-inverse,
window#waybar.top #leaf-inverse button,
window#waybar.top #leaf-inverse menu,
window#waybar.top #leaf-inverse menuitem,
window#waybar.top #leaf-inverse tooltip,
window#waybar.bottom #leaf-inverse,
window#waybar.bottom #leaf-inverse button,
window#waybar.bottom #leaf-inverse menu,
window#waybar.bottom #leaf-inverse menuitem,
window#waybar.bottom #leaf-inverse tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #leaf-inverse,
window#waybar.left #leaf-inverse button,
window#waybar.left #leaf-inverse menu,
window#waybar.left #leaf-inverse menuitem,
window#waybar.left #leaf-inverse tooltip,
window#waybar.right #leaf-inverse,
window#waybar.right #leaf-inverse button,
window#waybar.right #leaf-inverse menu,
window#waybar.right #leaf-inverse menuitem,
window#waybar.right #leaf-inverse tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}


/* ? Full Pill  shape*/

window#waybar.bottom #pill menuitem,
window#waybar.bottom #pill menu,
window#waybar.bottom #pill tooltip,
window#waybar.bottom #pill,
window#waybar.bottom #pill button,
window#waybar.top #pill menuitem,
window#waybar.top #pill menu,
window#waybar.top #pill tooltip,
window#waybar.top #pill,
window#waybar.top #pill button {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #pill menuitem,
window#waybar.left #pill menu,
window#waybar.left #pill tooltip,
window#waybar.left #pill,
window#waybar.left #pill button,
window#waybar.right #pill menuitem,
window#waybar.right #pill menu,
window#waybar.right #pill tooltip,
window#waybar.right #pill,
window#waybar.right #pill button {
    border-radius: 2pt 2pt 2pt 2pt;
}


/* ? half pill with the curve pointing dowmwards */


window#waybar.top #pill-down,
window#waybar.top #pill-down button,
window#waybar.top #pill-down menu,
window#waybar.top #pill-down menuitem,
window#waybar.top #pill-down tooltip,
window#waybar.bottom #pill-down,
window#waybar.bottom #pill-down button,
window#waybar.bottom #pill-down menu,
window#waybar.bottom #pill-down menuitem,
window#waybar.bottom #pill-down tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

/* 
? half pill with the curve pointing inwards 
*/

window#waybar.top #pill-in,
window#waybar.top #pill-in button,
window#waybar.top #pill-in menu,
window#waybar.top #pill-in menuitem,
window#waybar.top #pill-in tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.right #pill-in,
window#waybar.right #pill-in button,
window#waybar.right #pill-in menu,
window#waybar.right #pill-in menuitem,
window#waybar.right #pill-in tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.bottom #pill-in,
window#waybar.bottom #pill-in button,
window#waybar.bottom #pill-in menu,
window#waybar.bottom #pill-in menuitem,
window#waybar.bottom #pill-in tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #pill-in,
window#waybar.left #pill-in button,
window#waybar.left #pill-in menu,
window#waybar.left #pill-in menuitem,
window#waybar.left #pill-in tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}


/* ? half pill with the curve pointing to left */

window#waybar.top #pill-left,
window#waybar.top #pill-left button,
window#waybar.top #pill-left menu,
window#waybar.top #pill-left menuitem,
window#waybar.top #pill-left tooltip,
window#waybar.bottom #pill-left,
window#waybar.bottom #pill-left button,
window#waybar.bottom #pill-left menu,
window#waybar.bottom #pill-left menuitem,
window#waybar.bottom #pill-left tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #pill-left,
window#waybar.left #pill-left button,
window#waybar.left #pill-left menu,
window#waybar.left #pill-left menuitem,
window#waybar.left #pill-left tooltip,
window#waybar.right #pill-left,
window#waybar.right #pill-left button,
window#waybar.right #pill-left menu,
window#waybar.right #pill-left menuitem,
window#waybar.right #pill-left tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}


/* ? half pill with the curve pointing to outwards */


window#waybar.top #pill-out,
window#waybar.top #pill-out button,
window#waybar.top #pill-out menu,
window#waybar.top #pill-out menuitem,
window#waybar.top #pill-out tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.right #pill-out,
window#waybar.right #pill-out button,
window#waybar.right #pill-out menu,
window#waybar.right #pill-out menuitem,
window#waybar.right #pill-out tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.bottom #pill-out,
window#waybar.bottom #pill-out button,
window#waybar.bottom #pill-out menu,
window#waybar.bottom #pill-out menuitem,
window#waybar.bottom #pill-out tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #pill-out,
window#waybar.left #pill-out button,
window#waybar.left #pill-out menu,
window#waybar.left #pill-out menuitem,
window#waybar.left #pill-out tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}


/* ============================ */
/* ? half pill with the curve pointing to the right */

window#waybar.top #pill-right,
window#waybar.top #pill-right button,
window#waybar.bottom #pill-right menu,
window#waybar.bottom #pill-right menuitem,
window#waybar.bottom #pill-right tooltip,
window#waybar.bottom #pill-right,
window#waybar.bottom #pill-right button,
window#waybar.top #pill-right menu,
window#waybar.top #pill-right menuitem,
window#waybar.top #pill-right tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #pill-right,
window#waybar.left #pill-right button,
window#waybar.right #pill-right menu,
window#waybar.right #pill-right menuitem,
window#waybar.right #pill-right tooltip,
window#waybar.right #pill-right,
window#waybar.right #pill-right button,
window#waybar.left #pill-right menu,
window#waybar.left #pill-right menuitem,
window#waybar.left #pill-right tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}


/* ? half pill with the flat surface pointing upwards */

window#waybar.top #pill-up,
window#waybar.top #pill-up button,
window#waybar.top #pill-up menu,
window#waybar.top #pill-up menuitem,
window#waybar.top #pill-up tooltip,
window#waybar.bottom #pill-up,
window#waybar.bottom #pill-up button,
window#waybar.bottom #pill-up menu,
window#waybar.bottom #pill-up menuitem,
window#waybar.bottom #pill-up tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

window#waybar.left #pill-up,
window#waybar.left #pill-up button,
window#waybar.left #pill-up menu,
window#waybar.left #pill-up menuitem,
window#waybar.left #pill-up tooltip,
window#waybar.right #pill-up,
window#waybar.right #pill-up button,
window#waybar.right #pill-up menu,
window#waybar.right #pill-up menuitem,
window#waybar.right #pill-up tooltip {
    border-radius: 2pt 2pt 2pt 2pt;
}

#leaf,
#leaf-inverse,
#leaf-up,
#leaf-down,
#leaf-right,
#leaf-left,
#pill,
#pill-right,
#pill-left,
#pill-down,
#pill-up,
#pill-in,
#pill-out {
    background-color: @main-bg;
    border-style: solid;
    border-color: @main-bg;
}

tooltip {
    /* all: unset; */
    background: @main-bg;
    color: @main-fg;
    border-radius: 3pt;
    border-width: 1em;
    border-color: @main-fg ;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-left: 0.2em;
    margin-right: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0em;
    color: @wb-act-bg;
    /* animation: ws_normal 20s ease-in-out 1; */
}

#workspaces button.active {
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), @wb-act-bg;
    color: @wb-act-fg;
    margin-left: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 0.3em;
    /* animation: ws_active 20s ease-in-out 1; */
    /* transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682); */
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#tray menu * {
    min-height: 16px
}

#tray menu separator {
    min-height: 10px
}

#language {
    min-width: 1.11em;
}

window#waybar.left label.module,
window#waybar.right label.module {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

window#waybar.top #leaf,
window#waybar.top #leaf-inverse,
window#waybar.top #leaf-up,
window#waybar.top #leaf-down,
window#waybar.top #leaf-right,
window#waybar.top #leaf-left,
window#waybar.top #pill,
window#waybar.top #pill-right,
window#waybar.top #pill-left,
window#waybar.top #pill-down,
window#waybar.top #pill-up,
window#waybar.top #pill-in,
window#waybar.top #pill-out {
    padding: 0em 0.6em;
}

#custom-cava,
#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#clock,
#custom-cpuinfo,
#cpu,
#custom-display,
#custom-hyde-menu,
#custom-github_hyde,
#custom-gpuinfo,
#custom-hyprsunset,
#idle_inhibitor,
#custom-keybindhint,
#keyboard,
#language,
#memory,
#custom-menu,
#mpris,
#network,
#custom-notification,
#custom-notifications,
#custom-prayer,
#custom-power,
#privacy,
#pulseaudio,
#custom-sensorsinfo,
#custom-spotify,
#taskbar,
#taskbar,
#taskbar#windows,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#custom-weather,
#window,
#workspaces,
#workspaces,
#workspaces,
#custom-swaync,
#custom-dunst,
#custom-separator,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 3px 2px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#workspaces {
    margin: 0px;
}

#custom-r_end {
    border-radius: 18px 18px 18px 18px;
    margin-right: 2px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 18px 18px 18px 18px;
    margin-left: 2px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 5px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 5px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px 6px 6px 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 6px 0px 0px 6px;
    margin-left: 8px;
    padding-left: 0px;
}

